* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Noto Sans;
  }

  .menu {
    
    background-color: whitesmoke;
    min-height: 100vh;
  }

  .getMenu {
    margin: 0% auto;
    max-width: 1280px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.199);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    

  }

  .getMenu-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 800px;
  }

  .new-book {
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 15px;
    color: rgb(85, 84, 84);
  }

  #buttonbook {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    width: 200px;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    background-color: rgba(13,148,136);
    border-radius: 10px;
    text-align: center;
  }

  #buttonbook:hover {
    background: rgb(6, 119, 110);
  }

 

  #addBookMenu {
    display: flex;
    flex-direction: column;
  }

  input {
    border-radius: 10px;
    height: 40px; 
    display: block;
    width: 100%;
    border: 1px solid  rgba(153, 153, 153, 0.952);;
    padding: 8px 16px;
    outline-color: rgb(81, 49, 196);
  }

  #publication {
    width: 270px;
  }

  #images {
    width: 450px;
  }

   
  .publication-images {
    display: flex;
    padding-bottom: 10px;
    gap: 20px;
    justify-content: space-between;
    
  }

  #save {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: rgba(13,148,136);
    text-align: left; 
    border-radius: 10px;
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

  #save:hover {
    background: rgb(6, 119, 110);
  }

   .menu-books {
    margin: 0% auto;
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
  }

  .bookshelf {
    font-size: 60px;
    line-height: 1;
    font-weight: 900;
  }

  .bookshelf-buttonbook {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: space-between;
  }

  #container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    border: 0 solid;
    border-radius: 0.5rem;
    margin: 0% auto;
    max-width: 1280px;
    padding-bottom: 0px;
    box-sizing: border-box;    
    text-align: center;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  @media (max-width: 1024px) {
    #container {grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    #container { grid-template-columns: repeat(2,1fr);
         }
    }

    @media (max-width: 640px) {
      #container { grid-template-columns: repeat(1, 1fr);
           }
      }

      
  
  .books { 
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     background-color: white;
     border-radius: 8px;
     border-color: rgb(231, 231, 231);
     font-size: .875rem;
     flex: 1 1 0%;
     box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5)
     
  }

  .shelf-menu {
    display: flex;
    flex-direction: column;
    line-height: 1.25rem;
    padding: 32px;
    
  }

  img {
    width: 10rem;
    height: 11rem;
    align-items: center;
  }

  .images {
    width: 10rem;
    height: 11rem;
    align-items: center;
    display:block;
    margin:auto;
  }

  .title {
    font-weight: 500;
    margin-top: 1.5rem;
  }

  .year-author {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0.25rem;
  }

  .year {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(216, 216, 216);
    
  }
  
  .author {
    font-size: .75rem;
    line-height: 1rem;    
    border-radius: 10px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0.75rem;
    background-color: rgba(204,251,241);
  }


  .shelf {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
  
  .book-btn {
    border-width: 1px;
    text-transform: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 15%), 0px 0px 0px rgb(0 0 0 / 5%), 0px 0px 20px rgb(0 0 0 / 3%);
  }

  button {
    margin: 0%;
    width: 100%;
    padding: 1rem;
    border-color: transparent;
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer; 
  }

  button:hover {
     color: #999;
  }

 
  
